*.pyc
*.log
node_modules
coverage/
kdemo/logs
kdemo/export_deliverables
kdemo/cantaloupe/*
kdemo/staticfiles
kdemo/media/packages
kdemo/media/build/
kdemo/uploadedfiles/*
kdemo/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
